html{
  scroll-behavior: smooth;
}

#home{
	background-image: linear-gradient(to right, orange, #ffe900);
	color: white;
}

.marcador{
	background-color: green;
	border: 1px solid black;
}

#nav{
	background-image: linear-gradient(to right, orange, #ffe900);
}
.conteudo{
	border-bottom: 1.2px solid #1a1a1a77;
	padding-top: 40px;
	padding-bottom: 40px;
}
 .vantagens p{
	margin-right: 20px;
 }
footer p a{
	margin: 5px 15px;
}



